# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.sqlite3
*.db
token.json
credentials.json

# Streamlit cache
.streamlit/
.cache/

# Windows files
Thumbs.db
Desktop.ini

# Audio temp
tts_*.mp3

